<div class="d-flex justify-content-center"><p class="display-1">Loja - chilligum</p></div>

<div class="d-flex justify-content-center"><a href="/produtos" class="btn btn-primary">Produtos</a></div>

<%= form_tag(produtos_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search' %>
<% end %>
